<div class="about my-md-5">
  <div class="about-section container d-flex">
    <div class="col align-self-center">
      <div class="row mt-5">
        <div class="col-md-6 mb-md-0 mb-5 position-relative">
          <div class="about-img ">
            <div class="circle-orange bg-orange"></div>
            <div class="circle-blue bg-blue"></div>
            <div class="card-img d-flex justify-content-center">
              <img src="/assets/images/about-img.png" alt="" />
            </div>
            
          </div>
          <div class="experience d-flex justify-content-center">
            <span class="text-red year-value font-rubik">9</span>
            <div class="fw-bold text">
              <p>Years of</p>
              <p>experience</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 mt-md-0 mt-5">
          <div class="ms-md-5">
            <span class="text-blue d-block text-md-start text-center">About Us</span>
            <span class="fs-2 fw-bold d-block "
              ><span class="d-md-block">Learn to develop sites </span> <span class="d-md-block">with components and</span> design systems</span
            >
            <div class="mt-2">
              <span class="fw-semibold"
                >Create Solutions that are bold and forward looking.</span
              >
            </div>
            <div class="my-4">
              <p>01. Logo Design</p>
              <p>02. Landing Page Design</p>
              <p>03. Stationery Design</p>
              <p>04. Business card Design</p>
              <p>05. Age Design</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
