<div class="welcome-section d-flex container">
  <div class="col align-self-md-center">
    <div class="circle-top-yellow bg-yellow"></div>
    <div class="circle-bottom-yellow bg-yellow"></div>
    <div class="row">
      <div class="col-md-6 greeting-box text-md-start text-center">
        <p class="fs-1 fw-bold mt-md-0 mt-3">
          <span class="d-md-block">Hey, I'm a </span>
          <span class="d-md-block"
            ><span class="text-blue">ui/ux</span> product
          </span>
          designer.
        </p>
        <span>
          <span class="d-md-block"
            >A smaill river named buded flows by their place and supplies
          </span>
          it will the necessary regellala. It's a paradise
        </span>
        <div class="mt-4">
          <app-button [active]="true" text="Hire me"></app-button>
          <app-button text="Let's chat" [icon]="faMessage"></app-button>
        </div>
      </div>
      <div
        class="col-md-6 greeting-img mt-md-0 mt-4 d-flex justify-content-center position-relative"
      >
        <img src="/assets/images/think-img.png" alt="" />
      </div>
    </div>
  </div>
</div>
